<!doctype html public "library">
<html lang="en">
	<head>
		<meta charset=utf-8/>
		<title>Design System Facades</title>
		<link href="/build/dev-examples-styles.css" rel="stylesheet">
		<link href="/assets/facades/images/favicon-16x16.png" sizes="16x16" rel="icon" type="image/png">
	</head>
	<body>
		<header class="slds-page-header">
			<div class="slds-grid">
				<div class="slds-has-flexi-truncate slds-col">
					<div class="slds-media">
						<div class="slds-media__figure">
							<span class="slds-icon__container">
								<svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon--left slds-icon-custom-16">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom16"></use>
								</svg>
							</span>
						</div>
						<div class="slds-media__body">
							<p class="slds-text-heading--label">Lightning Design System</p>
							<div class="slds-grid"><h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Component Facades">Component Facades</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="slds-grid">
			<div class="slds-col | slds-size--1-of-12 slds-medium-size--1-of-12 slds-large-size--1-of-12">

			</div>

			<div class="slds-col | slds-size--10-of-12 slds-medium-size--10-of-12 slds-large-size--10-of-12">
				<div id="component-list" class="slds-grid slds-grid--vertical">


<!-- badge -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="badge">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Badge</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/badge/badge.html">Docs</a>
												<div id="badge-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="badge-react-control" class="slds-col | example"></div>
												<div id="badge-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{badge.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>





<!-- button -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="button">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Button</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/button/button.html">Docs</a>
												<div id="button-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="button-react-control" class="slds-col | example"></div>
												<div id="button-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/button/button.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{button.html}}}
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>







<!-- button-group -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="button-group">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Button Group</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/button-group/button-group.html">Docs</a>
												<div id="button-group-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="button-group-react-control" class="slds-col | example"></div>
												<div id="button-group-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/button-group/button-group.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{button-group.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




<!-- checkbox -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="checkbox">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Checkbox</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/checkbox/checkbox.html">Docs</a>
												<div id="checkbox-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="checkbox-react-control" class="slds-col | example"></div>
												<div id="checkbox-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/checkbox/checkbox.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{checkbox.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




<!-- combobox -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="combobox">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Combobox</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/combobox/combobox.html">Docs</a>
												<div id="combobox-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="combobox-react-control" class="slds-col | example"></div>
												<div id="combobox-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/combobox/combobox.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{combobox.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>





<!-- data-table -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="data-table">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Data Table</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/data-table/data-table.html">Docs</a>
												<div id="data-table-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="data-table-react-control" class="slds-col | example"></div>
												<div id="data-table-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/data-table/data-table.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{data-table.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>







<!-- datepicker -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="datepicker">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Datepicker</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/datepicker/datepicker.html">Docs</a>
												<div id="datepicker-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="datepicker-react-control" class="slds-col | example"></div>
												<div id="datepicker-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/datepicker/datepicker.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{datepicker.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>






<!-- dropdown -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="dropdown">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Dropdown</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/dropdown/dropdown.html">Docs</a>
												<div id="dropdown-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="dropdown-react-control" class="slds-col | example"></div>
												<div id="dropdown-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/dropdown/dropdown.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{dropdown.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>





<!-- lookup -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="lookup">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Lookup</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/lookup/lookup.html">Docs</a>
												<div id="lookup-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="lookup-react-control" class="slds-col | example"></div>
												<div id="lookup-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


<!-- modal -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="modal">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Modal</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/modal/modal.html">Docs</a>
												<div id="modal-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="modal-react-control" class="slds-col | example"></div>
												<div id="modal-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/modal/modal.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{modal.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



<!-- notification -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="notification">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Notification</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/notification/notification.html">Docs</a>
												<div id="notification-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="notification-react-control" class="slds-col | example"></div>
												<div id="notification-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{notification.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>





<!-- picklist -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="picklist">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Picklist</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/picklist/picklist.html">Docs</a>
												<div id="picklist-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="picklist-react-control" class="slds-col | example"></div>
												<div id="picklist-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{picklist.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




<!-- pills -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="pills">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Pills</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/pills/pills.html">Docs</a>
												<div id="pills-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="pills-react-control" class="slds-col | example"></div>
												<div id="pills-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{pills.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



<!-- popover -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="popover">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Popover</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/popover/popover.html">Docs</a>
												<div id="popover-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="popover-react-control" class="slds-col | example"></div>
												<div id="popover-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{popover.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



<!-- radio -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="radio">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Radios</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/radio/radio.html">Docs</a>
												<div id="radio-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="radio-react-control" class="slds-col | example"></div>
												<div id="radio-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{radio.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



<!-- spinner -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="spinner">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Spinner</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/spinner/spinner.html">Docs</a>
												<div id="spinner-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="spinner-react-control" class="slds-col | example"></div>
												<div id="spinner-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{spinner.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




<!-- tabs -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="tabs">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Tabs</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/tabs/tabs.html">Docs</a>
												<div id="tabs-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="tabs-react-control" class="slds-col | example"></div>
												<div id="tabs-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/tabs.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




<!-- tooltip -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="tooltip">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Tooltip</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/tooltip/tooltip.html">Docs</a>
												<div id="tooltip-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="tooltip-react-control" class="slds-col | example"></div>
												<div id="tooltip-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/badge/tooltip.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{tooltip.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>




<!-- tree -->
						<div class="slds-col | slds-m-top--large | component-wrapper" id="tree">
							<div class="slds-grid slds-grid--vertical | component">
								<div class="slds-col | header">
									<div class="slds-section-title | slds-m-top--medium">
										<div class="slds-grid">
											<h2 class="slds-col | slds-has-flexi-truncate | slds-text-heading--medium">
												<span>Tree</span>
												<span class="slds-badge | slds-theme--shade">alpha: done</span>
											</h2>
										</div>
									</div>
								</div>
								<div class="slds-col | body">
									<div class="slds-grid | slds-wrap">
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--react">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/react/tree/tree.html">Docs</a>
												<div id="tree-react-control-launcher" class="slds-col | slds-m-bottom--medium"></div>
												<div id="tree-react-control" class="slds-col | example"></div>
												<div id="tree-react-demo-controls" class="slds-col | demo-controls"></div>
											</div>
										</div>
										<div class="slds-col | slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--1-of-2 | example-type example-type--jquery">
											<div class="slds-grid slds-grid--vertical | example-wrapper">
												<a class="slds-col | slds-align-right | slds-text-body--small" href="/docs/src/jquery/tree/tree.html">Docs</a>
												<div class="slds-col | slds-m-bottom--medium"></div>
												<div class="slds-col | example">
													{{{tree.html}}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


				</div>
			</div>
			<div class="slds-col | slds-size--1-of-12 slds-medium-size--1-of-12 slds-large-size--1-of-12">

			</div>
		</section>
		<script src="/assets/facades/scripts/jquery.min.js"></script>
		<script src="/build/dev-examples-jquery.bundle.js"></script>
		<script src="/build/dev-examples-react.bundle.js"></script>
	</body>

</html>
