<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>jQuery</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- fav icons -->
	<link rel="icon" type="image/png" href="/img/favicon.png">

	<!-- dependencies -->
	<link href="/assets/design-system/styles/salesforce-lightning-design-system.css" rel="stylesheet" type="text/css">
	<link href="/vendor/prism/themes/prism.css" rel="stylesheet" type="text/css">

	<!-- from development examples -->
	<link href="/assets/facades/styles/temp-styles/temp-styles.css" rel="stylesheet">
	<link href="/assets/facades/styles/example-styles.css" rel="stylesheet">

	<!-- for this demo site -->
	<link href="/assets/demo-site/styles/examples.css" rel="stylesheet" type="text/css">

</head>
<body class="jquery">
	<nav class="site-main-nav slds-page-header">
		<div class="slds-grid">
			<a href="/" class="slds-media slds-media--center">
				<div class="slds-media__figure">
					<img src="/assets/demo-site/images/salesforce-logo.svg" width="40">
				</div>
				<div class="slds-media__body">
					<h4 class="slds-text-heading--label">
						Design System Facades
					</h4>
				</div>
			</a>
		</div>
	</nav>
	<header class="site-masthead slds-page-header | slds-theme--alt-inverse">

		<div class="slds-grid">
			<div class="slds-col slds-align-middle" >
				<div class="slds-media slds-media--center" style="height:5rem;">
					<div class="slds-media__figure">
						<svg width="70" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="-95 7 600 600" style="enable-background:new -95 7 600 600;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#0868AC;}
						</style>
						<g>
							<path class="st0" d="M-45.5,160.4c-50.8,73-44.5,168.1-5.7,245.7c0.9,1.9,1.9,3.7,2.8,5.5c0.6,1.2,1.2,2.4,1.8,3.5
								c0.4,0.7,0.8,1.4,1.1,2c0.7,1.2,1.3,2.4,2,3.6c1.2,2.1,2.4,4.2,3.7,6.4c0.7,1.2,1.4,2.3,2.1,3.5c1.4,2.3,2.8,4.5,4.3,6.7
								c0.6,1,1.2,1.9,1.8,2.8c2,3,4.1,6,6.2,9c0.1,0.1,0.1,0.2,0.2,0.2c0.3,0.5,0.7,0.9,1,1.4c1.8,2.5,3.8,5.1,5.7,7.5
								c0.7,0.9,1.4,1.8,2.1,2.7c1.7,2.2,3.5,4.3,5.2,6.4c0.7,0.8,1.3,1.6,2,2.4c2.4,2.8,4.8,5.6,7.3,8.4c0,0,0.1,0.1,0.1,0.1
								c0.1,0.1,0.2,0.2,0.3,0.3c2.4,2.6,4.9,5.2,7.4,7.8c0.8,0.8,1.6,1.6,2.4,2.4c2,2,3.9,3.9,5.9,5.8c0.8,0.8,1.6,1.6,2.4,2.3
								c2.7,2.5,5.4,5,8.1,7.4c0,0,0.1,0.1,0.1,0.1c0.5,0.4,1,0.8,1.4,1.2c2.4,2.1,4.9,4.2,7.4,6.2c1,0.8,2,1.6,3.1,2.4
								c2,1.6,4.1,3.2,6.2,4.8c1.1,0.8,2.2,1.7,3.3,2.5c2.3,1.7,4.6,3.3,6.9,5c0.8,0.6,1.7,1.2,2.5,1.8c0.2,0.2,0.5,0.3,0.7,0.5
								c2.2,1.5,4.5,3,6.7,4.4c1,0.6,1.9,1.3,2.9,1.9c3.5,2.2,7,4.3,10.5,6.4c1,0.6,1.9,1.1,2.9,1.6c2.6,1.5,5.2,3,7.9,4.4
								c1.4,0.8,2.9,1.5,4.4,2.2c1.9,1,3.7,2,5.6,2.9c0.4,0.2,0.9,0.4,1.3,0.6c0.8,0.4,1.5,0.7,2.3,1.1c3,1.4,5.9,2.8,8.9,4.1
								c0.6,0.3,1.3,0.6,1.9,0.8c3.4,1.5,6.9,2.9,10.4,4.3c0.8,0.3,1.7,0.7,2.5,1c3.2,1.3,6.5,2.5,9.8,3.6c0.4,0.1,0.8,0.3,1.2,0.4
								c3.6,1.3,7.3,2.4,11,3.6c0.9,0.3,1.8,0.5,2.6,0.8c3.8,1.1,7.5,2.5,11.3,3.2C406.8,621.5,478.1,429,478.1,429
								c-60,78.1-166.4,98.7-267.2,75.8c-3.8-0.9-7.5-2.1-11.3-3.2c-0.9-0.3-1.9-0.6-2.8-0.8c-3.6-1.1-7.2-2.3-10.8-3.5
								c-0.5-0.2-1-0.4-1.5-0.5c-3.2-1.1-6.4-2.3-9.6-3.5c-0.9-0.4-1.8-0.7-2.7-1.1c-3.5-1.4-6.9-2.8-10.3-4.3c-0.7-0.3-1.4-0.6-2.1-0.9
								c-2.9-1.3-5.8-2.7-8.7-4c-0.8-0.4-1.7-0.8-2.5-1.2c-2.3-1.1-4.5-2.3-6.7-3.4c-1.5-0.8-3-1.5-4.5-2.4c-2.7-1.5-5.4-3-8.1-4.5
								c-0.9-0.5-1.8-1-2.7-1.5c-3.5-2.1-7-4.2-10.5-6.4c-1-0.6-1.9-1.3-2.8-1.9c-2.5-1.6-5-3.3-7.5-5c-0.8-0.6-1.6-1.1-2.4-1.7
								c-2.4-1.7-4.7-3.4-7.1-5.1c-1.1-0.8-2.1-1.6-3.1-2.4c-2.1-1.6-4.3-3.3-6.4-5c-1-0.8-1.9-1.5-2.8-2.3c-2.7-2.2-5.3-4.4-7.9-6.7
								c-0.3-0.2-0.6-0.5-0.9-0.7c-2.8-2.5-5.6-5-8.4-7.6c-0.8-0.8-1.6-1.5-2.4-2.3c-2-1.9-4-3.9-6-5.9c-0.8-0.8-1.6-1.6-2.4-2.4
								c-2.5-2.6-5-5.2-7.4-7.8c-0.1-0.1-0.2-0.3-0.4-0.4c-2.5-2.8-5-5.6-7.5-8.5c-0.7-0.8-1.3-1.5-2-2.3c-1.8-2.2-3.6-4.4-5.4-6.6
								c-0.7-0.8-1.3-1.6-2-2.5c-2.1-2.7-4.2-5.5-6.2-8.3c-56-76.4-76.1-181.7-31.4-268.2"/>
							<path class="st0" d="M112.2,98.8c-36.8,52.9-34.8,123.7-6.1,179.6c4.8,9.4,10.2,18.5,16.3,27.1c5.5,7.9,11.6,17.3,18.9,23.6
								c2.6,2.9,5.4,5.8,8.2,8.6c0.7,0.7,1.4,1.4,2.2,2.1c2.7,2.7,5.5,5.3,8.4,7.8c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0.1,0,0.1,0.1
								c3.2,2.8,6.5,5.5,9.8,8.1c0.7,0.6,1.5,1.2,2.2,1.7c3.4,2.6,6.8,5.1,10.3,7.5c0.1,0.1,0.2,0.1,0.3,0.2c1.5,1.1,3.1,2.1,4.7,3.1
								c0.8,0.5,1.5,1,2.2,1.5c2.5,1.6,5,3.2,7.6,4.7c0.4,0.2,0.7,0.4,1.1,0.6c2.2,1.3,4.5,2.5,6.7,3.8c0.8,0.4,1.6,0.8,2.4,1.3
								c1.6,0.8,3.1,1.7,4.7,2.4c0.2,0.1,0.5,0.2,0.7,0.3c3.2,1.6,6.5,3.1,9.8,4.6c0.7,0.3,1.5,0.6,2.2,0.9c2.7,1.1,5.4,2.2,8.1,3.3
								c1.1,0.4,2.3,0.8,3.5,1.3c2.5,0.9,4.9,1.7,7.4,2.6c1.1,0.4,2.2,0.7,3.3,1.1c3.5,1.1,7,2.5,10.7,3.1
								C448.2,431.6,492,285.5,492,285.5c-39.5,56.9-116,84-197.6,62.8c-3.6-1-7.2-2-10.7-3.1c-1.1-0.3-2.2-0.7-3.2-1
								c-2.5-0.8-5-1.7-7.5-2.6c-1.1-0.4-2.3-0.8-3.4-1.3c-2.7-1-5.4-2.1-8.1-3.3c-0.7-0.3-1.5-0.6-2.2-0.9c-3.3-1.5-6.6-3-9.9-4.6
								c-1.7-0.8-3.3-1.7-5-2.5c-1-0.5-1.9-1-2.9-1.5c-2.1-1.1-4.2-2.3-6.3-3.5c-0.5-0.3-1-0.6-1.5-0.8c-2.6-1.5-5.1-3.1-7.6-4.6
								c-0.8-0.5-1.5-1-2.3-1.5c-1.7-1.1-3.3-2.2-4.9-3.3c-3.5-2.4-6.9-4.9-10.3-7.5c-0.8-0.6-1.5-1.2-2.3-1.8
								c-35.7-28.2-64-66.7-77.5-110.5c-14.1-45.3-11.1-96.2,13.4-137.5"/>
							<path class="st0" d="M244.9,52.9c-21.7,31.9-23.8,71.5-8.8,106.7c15.9,37.4,48.3,66.7,86.3,80.6c1.6,0.6,3.1,1.1,4.7,1.6
								c0.7,0.2,1.4,0.4,2.1,0.7c2.2,0.7,4.5,1.5,6.8,2c104.8,20.2,133.2-53.8,140.8-64.7c-24.9,35.8-66.7,44.4-118.1,32
								c-4.1-1-8.5-2.5-12.4-3.8c-5-1.8-10-3.8-14.7-6.1c-9.1-4.4-17.8-9.7-25.9-15.8c-45.9-34.9-74.5-101.3-44.5-155.5"/>
						</g>
						</svg>

					</div>
					<div class="slds-media__body">
						<div class="slds-grid">
							<h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">jQuery Components</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="slds-grid slds-m-top--medium">
		<div class="slds-col slds-col--padded" style="max-width: 900px;">

			<!-- badge -->
			<div class="slds-box badge">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="badge" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Badge
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/badge/badge.html">Docs</a>
					</div>
				</div>
				<div id="badge-jquery-control" class="slds-m-vertical--large">
					<span class="badge1"></span>
					<span class="badge2"></span>
					<span class="badge3"></span>
					<span class="badge4"></span>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="badge-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.badge }}</code></pre>
			</div>

			<!-- button -->
			<div class="slds-box button">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="button" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Button
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/button/button.html">Docs</a>
					</div>
				</div>
				<div id="button-jquery-control" class="slds-m-vertical--large">

					<div class="slds-grid slds-grid--vertical">
						<div class="slds-col row">
							<span class="button-neutral"></span>
							<span class="button-brand" ></span>
							<span class="button-inverse"></span>
							<span class="button-bare"></span>
						</div>
						<div class="slds-col row">
							<span class="button-neutral-small"></span>
							<span class="button-brand-small"></span>
							<span class="button-inverse-small"></span>
						</div>
						<div class="slds-col row">
							<span class="button-icon-left"></span>
							<span class="button-icon-right"></span>
							<span class="button-bare-icon-right"></span>
						</div>
						<div class="slds-col row">
							<span class="button-icon-left-small"></span>
							<span class="button-icon-right-small"></span>
							<span class="button-bare-icon-right-small"></span>
						</div>
						<div class="slds-col row">
							<span class="button-icon-more"></span>
							<span class="button-icon-more-disabled"></span>
						</div>
						<div class="slds-col row">
							<span class="button-icon-container"></span>
							<span class="button-icon-container-disabled"></span>

							<span class="button-icon-border"></span>
							<span class="button-icon-border-disabled"></span>

							<span class="button-icon-border-filled"></span>
							<span class="button-icon-border-filled-disabled"></span>

							<span class="button-icon-small"></span>
							<span class="button-icon-small-disabled"></span>
						</div>
					</div>

				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="button-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.button }}</code></pre>
			</div>



			<!-- button-group -->
			<div class="slds-box button-group">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="button-group" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Button Group
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/button-group/button-group.html">Docs</a>
					</div>
				</div>
				<div id="button-group-jquery-control" class="slds-m-vertical--large">
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="button-group-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.buttongroup }}</code></pre>
			</div>



			<!-- checkbox -->
			<div class="slds-box checkbox">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="checkbox" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Checkbox
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/checkbox/checkbox.html">Docs</a>
					</div>
				</div>
				<div id="checkbox-jquery-control" class="slds-m-vertical--large">
					<fieldset class="slds-form-element">
						<legend class="slds-form-element__label slds-form-element__label--top"></legend>
						<div class="slds-form-element__control" id="checkbox1"></div>
						<div class="slds-form-element__control" id="checkbox2"></div>
					</fieldset>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="checkbox-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.checkbox }}</code></pre>
			</div>




			<!-- combobox -->
			<div class="slds-box combobox">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="combobox" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Combobox
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/combobox/combobox.html">Docs</a>
					</div>
				</div>
				<div id="combobox-jquery-control" class="slds-m-vertical--large">
					<div class="combobox1"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="combobox-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.combobox }}</code></pre>
			</div>




			<!-- data-table -->
			<div class="slds-box data-table">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="data-table" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Data Table
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/data-table/data-table.html">Docs</a>
					</div>
				</div>
				<div id="data-table-jquery-control" class="slds-m-vertical--large">
					<div class="dataTable1"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="data-table-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.datatable }}</code></pre>
			</div>




			<!-- datepicker -->
			<div class="slds-box datepicker">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="datepicker" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Datepicker
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/datepicker/datepicker.html">Docs</a>
					</div>
				</div>
				<div id="datepicker-jquery-control" class="slds-m-vertical--large">
					<div class=""></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="datepicker-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.datepicker }}</code></pre>
			</div>




			<!-- dropdown -->
			<div class="slds-box dropdown">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="dropdown" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Dropdown
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/dropdown/dropdown.html">Docs</a>
					</div>
				</div>
				<div id="dropdown-jquery-control" class="slds-m-vertical--large">
					<div class="dropdown1"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="dropdown-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.dropdown }}</code></pre>
			</div>




			<!-- modal -->
			<div class="slds-box modal">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="modal" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Modal
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/modal/modal.html">Docs</a>
					</div>
				</div>
				<div class="slds-m-vertical--large">
					<button type="button" id="modal-jquery-control-launch" class="slds-button slds-button--neutral slds-button--x-small">Show</button>
				</div>
				<div id="modal-jquery-control" class="slds-m-vertical--large">
					<p>This is the sample content for the jquery modal!</p>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="modal-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.modal }}</code></pre>
			</div>




			<!-- notification -->
			<div class="slds-box notification">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="notification" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Notification
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/notification/notification.html">Docs</a>
					</div>
				</div>
				<div id="notification-jquery-control" class="slds-m-vertical--large">
					<div class="notification1"></div>
					<div class="notification2"></div>
					<div class="notification3"></div>
					<div class="notification4"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="notification-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.notification }}</code></pre>
			</div>





			<!-- picklist -->
			<div class="slds-box picklist">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="picklist" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Picklist
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/picklist/picklist.html">Docs</a>
					</div>
				</div>
				<div id="picklist-jquery-control" class="slds-m-vertical--large">
					<div class="picklist1"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="picklist-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.picklist }}</code></pre>
			</div>





			<!-- popover -->
			<div class="slds-box pills">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="pills" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Pills
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/pills/pills.html">Docs</a>
					</div>
				</div>
				<div id="pills-jquery-control" class="slds-m-vertical--large">
					<div class="pills1"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="pills-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.pills }}</code></pre>
			</div>



			<!-- popover -->
			<div class="slds-box popover">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="popover" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Popover
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/popover/popover.html">Docs</a>
					</div>
				</div>
				<div id="popover-jquery-control" class="slds-m-vertical--large">
					<button id="popover-jquery-toggle" class="slds-button slds-button--neutral slds-button--x-small">Toggle</button>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="popover-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.popover }}</code></pre>
			</div>



			<!-- radio -->
			<div class="slds-box radio">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="radio" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Radio
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/radio/radio.html">Docs</a>
					</div>
				</div>
				<div id="radio-jquery-control" class="slds-m-vertical--large">
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="radio-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.radio }}</code></pre>
			</div>



			<!-- spinner -->
			<div class="slds-box spinner">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="spinner" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Spinner
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/spinner/spinner.html">Docs</a>
					</div>
				</div>
				<div id="spinner-jquery-control" class="slds-m-vertical--large">
					<div class="slds-grid slds-grid--vertical">
						<div class="slds-col slds-theme--default">
							<div class="slds-float--left spinner">
								<div class="spinner1"></div>
							</div>
							<div class="slds-float--left spinner">
								<div class="spinner2"></div>
							</div>
							<div class="slds-float--left spinner">
								<div class="spinner3"></div>
							</div>
						</div>
						<div class="slds-col slds-theme--shade">
							<div class="slds-float--left spinner">
								<div class="spinner4"></div>
							</div>
							<div class="slds-float--left spinner">
								<div class="spinner5"></div>
							</div>
							<div class="slds-float--left spinner">
								<div class="spinner6"></div>
							</div>
						</div>
						<div class="slds-col slds-theme--inverse">
							<div class="slds-float--left spinner">
								<div class="spinner7"></div>
							</div>
							<div class="slds-float--left spinner">
								<div class="spinner8"></div>
							</div>
							<div class="slds-float--left spinner">
								<div class="spinner9"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="spinner-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.spinner }}</code></pre>
			</div>



			<!-- tooltip -->
			<div class="slds-box tooltip">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="tooltip" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Tooltip
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/tooltip/tooltip.html">Docs</a>
					</div>
				</div>
				<div id="tooltip-jquery-control" class="slds-m-vertical--large">
					<button id="tooltip-jquery-toggle" class="slds-button slds-button--neutral slds-button--x-small">Toggle</button>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="tooltip-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.tooltip }}</code></pre>
			</div>




			<!-- tree -->
			<div class="slds-box tree">
				<div class="slds-section-title">
					<div class="slds-grid">
						<h3 id="tree" class="slds-col | slds-has-flexi-truncate | slds-text-heading--small">
							Tree
						</h3>
						<a class="slds-col | slds-no-flex | slds-align-middle | slds-text-body--small" href="/docs/src/jquery/tree/tree.html">Docs</a>
					</div>
				</div>
				<div id="tree-jquery-control" class="slds-m-vertical--large">
					<div class="tree1"></div>
				</div>
				<div class="slds-section-title">
					<div class="slds-grid">
						<h4 id="tree-example-code" class="slds-col | slds-has-flexi-truncate | slds-text-heading--label">
							Example Code
						</h4>
					</div>
				</div>
				<pre style="max-height: 400px;" class="language-jsx"><code>{{ code.tree }}</code></pre>
			</div>


		</div>
	</div>
	<script src="vendor/prism/prism.js"></script>
	<script src="vendor/prism/components/prism-jsx.js"></script>
	<script src="/assets/facades/scripts/jquery.min.js"></script>
	<script src="build/site-examples-jquery.bundle.js"></script>
</body>
</html>