<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>jQuery</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- fav icons -->
	<link rel="icon" type="image/png" href="/img/favicon.png">

	<!-- dependencies -->
	<link href="/assets/design-system/styles/salesforce-lightning-design-system.css" rel="stylesheet" type="text/css">
	{{!-- <link href="/vendor/prism/themes/prism.css" rel="stylesheet" type="text/css"> --}}
	{{!-- <link href="/assets/demo-site/styles/examples.css" rel="stylesheet" type="text/css"> --}}
	<link href="/build/style.css" rel="stylesheet" type="text/css">

</head>
<body>

	<div class="site-content">
	<header class="site-masthead slds-page-header">
		<div class="slds-grid">
			<div class="slds-col slds-align-middle" >
				<div class="slds-media slds-media--center" style="height:5rem;">
					<div class="slds-media__figure">
						<span class="slds-icon__container slds-icon-action-fallback" style="padding:0.5rem;">
							<svg aria-hidden="true" class="slds-icon slds-icon-action-fallback">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/design-system/icons/action-sprite/svg/symbols.svg#fallback"></use>
							</svg>
						</span>
					</div>
					<div class="slds-media__body site-title">jQuery Widgets</div>
				</div>
			</div>
		</div>
	</header>

	<div class="slds-grid slds-m-top--medium">
		<div class="slds-col slds-col--padded" style="max-width: 900px;">

			<!-- badge -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Badge</div>
				<div id="badge-jquery-control">
					<span class="badge1"></span>
					<span class="badge2"></span>
					<span class="badge3"></span>
					<span class="badge4"></span>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.badge }}</code></pre>
			</div>

			<!-- datepicker -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Datepicker</div>
				<div id="datepicker-jquery-control">
					<div class=""></div>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.datepicker }}</code></pre>
			</div>

			<!-- datatable -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Data-table</div>
				<div id="data-table-jquery-control" class="slds-col | example">
					<div class="dataTable1"></div>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.datatable }}</code></pre>
			</div>

			<!-- dropdown -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Dropdown</div>
				<div id="dropdown-jquery-control">
					<div class="dropdown1"></div>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.dropdown }}</code></pre>
			</div>

			<!-- picklist -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Picklist</div>
				<div id="picklist-jquery-control" class="slds-col | example">
					<div class="picklist1"></div>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.picklist }}</code></pre>
			</div>

			<!-- pills -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Pills</div>
				<div id="pillbox-jquery-control" class="slds-col | example">
					<div class="pillbox1"></div>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.pills }}</code></pre>
			</div>

			<!-- popover -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Popover</div>
				<div id="popover-jquery-control" class="slds-col | example">
					<button id="popover-jquery-toggle" class="slds-button slds-button--neutral slds-button--x-small">Toggle</button>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.popover }}</code></pre>
			</div>

			<!-- tooltip -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Tooltip</div>
				<div id="tooltip-jquery-control" class="slds-col | example">
					<button id="tooltip-jquery-toggle" class="slds-button slds-button--neutral slds-button--x-small">Toggle</button>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.tooltip }}</code></pre>
			</div>

			<!-- tree -->
			<div class="slds-box">
				<div class="slds-text-heading--small slds-m-bottom--medium">Tree</div>
				<div id="tree-jquery-control" class="slds-col | example">
					<div class="tree1"></div>
				</div>
				<div class="slds-text-heading--label slds-m-top--medium">Example Code</div>
				<pre style="max-height: 400px;"><code class="language-javascript">{{ code.tree }}</code></pre>
			</div>

		</div>
	</div>
	</div>
	<script src="vendor/prism/prism.js"></script>
	<script src="/assets/facades/scripts/jquery.min.js"></script>
	<script src="build/site-examples-jquery.bundle.js"></script>
</body>
</html>