	<aside id="component-nav" class="slds-grow slds-size--3-of-12 slds-medium-size--1-of-6 slds-large-size--3-of-12 slds-col-rule--right x-slds-p-vertical--large">
		<nav class="slds-scrollable--y | site-navigation">
			<ul class="slds-list--vertical slds-has-block-links">
				<li class="slds-list__item is-closed">
					<a class="a-plain | x-slds-p-horizontal--large x-slds-p-vertical--x-small | slds-truncate" href="/">
						SLDS for JavaScript Home
					</a>
				</li>
				<li class="slds-list__item slds-is-open slds-is-selected">
					<a class="a-plain | x-slds-p-horizontal--large x-slds-p-vertical--x-small" href="/{{facade}}">
						<span class="slds-media slds-media--center">
							<span class="slds-media__body">SLDS for {{facadeDisplayName}}</span>
							<span class="slds-media__figure--reverse">
								<svg aria-hidden="true" class="slds-icon icon__svg icon-utility-down slds-icon--small slds-icon-text-default">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
								</svg>
							</span>
						</span>
					</a>
					<ul id="component-nav__list" class="slds-list--vertical slds-has-block-links slds-is-nested">
						{{#each components}}
						<li id="component-nav__list__item--{{component}}" class="slds-list__item">
							<a id="component-nav__{{component}}" class="a-plain | x-slds-p-horizontal--x-large x-slds-p-vertical--x-small | slds-truncate" href="/{{facade}}/{{ component}}">{{ componentDisplayNamePlural }}</a>
						</li>
						{{/each}}
					</ul>
				</li>
				<li class="slds-list__item is-closed">
					<a class="a-plain | x-slds-p-horizontal--large x-slds-p-vertical--x-small | slds-truncate" href="/{{otherFacade}}">
						SLDS for {{otherFacadeDisplayName}}
					</a>
				</li>
			</ul>
		</nav>
	</aside>
