	<aside id="component-nav" class="slds-grow slds-size--3-of-12 slds-medium-size--1-of-6 slds-large-size--3-of-12 slds-col-rule--right x-slds-p-vertical--large">
		<nav class="slds-scrollable--y">
			<p class="slds-text-heading--small | slds-p-vertical--small">
				<a class="a-plain | slds-p-horizontal--large slds-p-vertical--x-small | slds-truncate" href="/">
					SLDS for JavaScript Home
				</a>
			</p>
			<p class="slds-text-heading--small | slds-p-vertical--small">
				<a class="a-plain | slds-p-horizontal--large slds-p-vertical--x-small | slds-truncate" href="/{{otherFacade}}">
					SLDS for {{otherFacadeDisplayName}}
				</a>
			</p>
			<p class="slds-text-heading--small | slds-p-vertical--small">
				<a class="a-plain | slds-p-horizontal--large slds-p-vertical--x-small | slds-truncate" href="/{{facade}}">
					SLDS for {{facadeDisplayName}}
				</a>
			</p>
			<ul class="slds-p-bottom--small">
				{{#each components}}
				<li class="">
					<a id="component-nav__{{component}}" class="a-plain | slds-p-horizontal--x-large slds-p-vertical--x-small | slds-truncate" href="/{{facade}}/{{ component}}">{{ componentDisplayNamePlural }}</a>
				</li>
				{{/each}}
			</ul>
		</nav>
	</aside>
