<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#if thisComponentDisplayName}} {{thisComponentDisplayName}} :: {{/if}}{{#if thisComponentDisplayName}} {{facadeDisplayName}} :: {{/if}}Facades :: Salesforce Lightning Design System</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/demo-site/images/favicon.png" sizes="16x16" rel="icon" type="image/png">
		<link href="/assets/styles/salesforce-lightning-design-system.css" rel="stylesheet" type="text/css">
		<link href="/build/facades-demo-styles.css" rel="stylesheet" type="text/css">
	</head>
	<body class="facades-demo | {{facade}} | slds">
		<nav class="facades-demo-main-nav slds-page-header">
			<div class="slds-grid">
				<a href="/" class="slds-media slds-media--center">
					<div class="slds-media__figure">
						<img src="/assets/demo-site/images/salesforce-logo.svg" width="40">
					</div>
					<div class="slds-media__body">
						<h4 class="slds-text-heading--label">
							Design System Facades
						</h4>
					</div>
				</a>
			</div>
		</nav>

		{{{body}}}

		<script src="/vendor/prism/prism.js"></script>
		<script src="/vendor/prism/components/prism-jsx.js"></script>
		<script src="/assets/facades/scripts/jquery.min.js"></script>
		{{#if facade}}
		<script src="/build/demo-site-examples-{{facade}}.bundle.js"></script>
		{{/if}}
		<script src="/assets/demo-site/scripts/demo-site.js"></script>
	</body>
</html>